
/* --------------1400px----------------- */
@media (max-width: 1400px) {
}
/* ------------1400px------------- */

/* -----------------1200px--------------- */
@media (max-width: 1200px) {
  header,
  .container {
    margin: 40px 75px;
  }

  .company .company-logo {
    gap: 100px;
  }

  .features .right .feature-box {
    padding: 15px 40px 15px 40px;
  }

  .features .container,
  .work .container,
  .everyday .container,
  .customer .container,
  .application .container {
    margin: 50px 75px;
  }

  .customer .customer-card {
    gap: 60px;
  }

  .customer .content h1 {
    width: 50%;
  }

  .customer .content p {
    width: 60%;
  }

  .application .container {
    padding: 50px;
  }

  .application .left h1 {
    width: 100%;
  }

  footer,
  .copyright {
    padding: 50px 75px;
  }
}
/* -----------------1200px------------------- */

/* -----------------992px--------------------- */
@media (max-width: 992px) {
  header nav {
    display: none;
  }
  header .login {
    display: none;
  }
  header .toggle {
    display: initial;
  }

  .hero .title {
    font-size: 3rem;
    width: 90%;
    line-height: 65px;
  }

  .hero .subtitle {
    font-size: 0.9rem;
    width: 80%;
    color: var(--subheading);
  }

  .company .company-logo {
    gap: 50px;
  }

  .features .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .features .left {
    width: 80%;
  }

  .features .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* gap: 30px; */
    width: 60%;
  }

  .features .right .feature-box {
    padding: 30px 10px;
  }

  .features .right #feature1 {
    border-bottom: 10px solid var(--main-color);
    border-left: none;
    border-radius: 8px 8px 0px 0;
    background-color: var(--light);
  }

  .features .right .feature-box {
    text-align: center;
    align-items: center;
  }

  .features .container,
  .work .container,
  .everyday .container,
  .customer .container,
  .application .container {
    margin: 60px 75px;
  }

  .work .work-card .card {
    padding: 0;
  }

  .application .right {
    flex-direction: column;
  }
}
/* -----------------992px--------------------- */

/* -----------------768px--------------------- */
@media (max-width: 768px) {
  header,
  .container {
    margin: 40px 60px;
  }

  .company .company-logo {
    gap: 50px;
  }

  .company .company-logo img:last-child {
    display: none;
  }

  .features .left {
    width: 90%;
  }

  .features .right {
    width: 75%;
  }

  .work .work-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
  }

  .work .work-card .card {
    padding: 10px;
  }

  .features .container,
  .work .container,
  .everyday .container,
  .customer .container,
  .application .container {
    margin: 60px;
  }

  .everyday .left {
    width: 50%;
    padding: 0 20px 0 0;
    gap: 20px;
  }

  .everyday .left h1 {
    font-size: 1.5rem;
  }

  .everyday .left p {
    font-size: 0.8rem;
    line-height: 20px;
  }

  .everyday .left button {
    padding: 10px 20px;
    font-size: 0.8rem;
  }

  .customer .content h1 {
    width: 75%;
  }

  .customer .content p {
    width: 75%;
  }

  .customer .customer-card {
    gap: 20px;
  }

  footer,
  .copyright {
    padding: 60px;
  }

  footer .quick-links {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  footer .company-link,
  footer .support-link,
  footer .legal-link {
    display: none;
  }

  footer .company-link1,
  footer .support-link1,
  footer .legal-link1 {
    display: initial;
  }
}
/* -----------------768px--------------------- */

/* -----------------576px--------------------- */
@media (max-width: 576px) {
  header,
  .container {
    margin: 30px 40px;
  }

  .hero .title {
    font-size: 2.5rem;
    width: 100%;
    line-height: 50px;
  }

  .hero .subtitle {
    font-size: 0.9rem;
    width: 100%;
    color: var(--subheading);
  }

  .hero .discount span:nth-child(1) {
    display: none;
  }

  .hero .discount span:nth-child(2) {
    border-top-left-radius: 50px;
    font-size: 0.8rem;
    border-bottom-left-radius: 50px;
  }

  .company .company-logo {
    gap: 25px;
  }

  .company .company-logo img {
    width: 50%;
  }

  .features .right {
    width: 90%;
  }

  .features .right {
    width: 80%;
  }

  .work .work-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 50px;
  }

  .work .container h1 {
    font-size: 1.8rem;
  }

  .work .work-card .card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .work .card .card-img img {
    width: 75%;
  }

  .features .container,
  .work .container,
  .everyday .container,
  .customer .container {
    margin: 50px 40px;
  }

  .everyday .container {
    flex-direction: column;
    gap: 50px;
  }

  .everyday .left {
    width: 100%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }

  .everyday .left button {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }

  .everyday .right {
    width: 100%;
    order: 1;
  }

  .customer .content h1 {
    width: 100%;
  }

  .customer .content p {
    width: 100%;
  }

  .customer .card {
    display: none;
  }

  .customer #card1 {
    display: initial;
    border: 0;
  }

  .application .container {
    margin: 0;
    border-radius: 0;
    flex-direction: column;
    gap: 40px;
  }

  .application .left h1 {
    line-height: 32px;
    text-align: center;
  }

  .copyright .social {
    display: none;
  }
}
/* -----------------576px--------------------- */

/* -----------------425px--------------------- */
@media (max-width: 425px) {
  header,
  .container {
    margin: 30px 30px;
  }

  .hero .title {
    font-size: 2rem;
    width: 100%;
    line-height: 40px;
  }

  .hero .subtitle {
    font-size: 0.8rem;
    width: 100%;
    color: var(--subheading);
  }

  .hero .discount span:nth-child(2) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .hero .input-control {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .hero .input-control input,
  .hero .input-control button {
    width: 100%;
    text-align: center;
  }

  .hero .container {
    gap: 20px;
  }

  .company .company-logo {
    flex-direction: column;
    gap: 30px;
  }

  .company .company-logo img {
    width: 100%;
  }

  .features .right {
    width: 100%;
  }

  .features .right {
    width: 100%;
  }

  .work .container h1 {
    font-size: 1.5rem;
  }

  .features .container,
  .work .container,
  .everyday .container,
  .customer .container {
    margin: 40px 30px;
  }

  .customer .content h1 {
    font-size: 1.1rem;
  }

  .application .container {
    padding: 50px 20px;
  }

  footer,
  .copyright {
    padding: 50px 30px;
  }
}
/* -----------------425px--------------------- */

/* -----------------375px--------------------- */
@media (max-width: 375px) {
  header,
  .container {
    margin: 30px 20px;
  }

  .features .container,
  .work .container,
  .everyday .container,
  .customer .container {
    margin: 40px 20px;
  }
}
/* -----------------375px--------------------- */

/* -----------------375px--------------------- */
@media (max-width: 320px) {
}
/* -----------------375px--------------------- */
